<!DOCTYPE html>
<html> 
    {% include 'header.html' %}

    <body style="padding-top: 70px; margin-left : 10px">
        <h1>Nouvelle Acquisition :</h1>
        <table>
            <tr>
                <td><h4>Nom de l'expérience :</h4></td>
            </tr>
            <tr>
                <td><input type="text" id="name1" placeholder="expérience" onchange="changeParam('name',1)" onkeydown="if (event.keyCode == 13) return changeParam('name',1);"><div id="text_name1"></div></td>
            </tr>
            <tr>
                <td style="width:30%"><h4>Range PhD1</h4></td>
                <td style="width:30%"><h4>Range PhD2</h4></td>
            </tr>
            <tr>
                <td><input type="number" id="range1" placeholder="De 0 à 7" onchange="changeParam('range',1)"><div id="text_range1"></div></td>
                <td><input type="number" id="range2" placeholder="De 0 à 7" onchange="changeParam('range',2)"><div id="text_range2"></div></td> 
            </tr>
            <!-- <tr>
                <td><h4>Puissance Laser 462nm</h4></td>
                <td><h4>Puissance Laser 520nm</h4></td>
            </tr>
            <tr>
                <td><input type="number" id="power1" placeholder="De 0 à 100" onkeydown="if (event.keyCode == 13) return changeParam('power',1);"><div id="text_power1"></div></td>
                <td><input type="number" id="power2" placeholder="De 0 à 100" onkeydown="if (event.keyCode == 13) return changeParam('power',2);"><div id="text_power2"></div></td> 
            </tr> -->

            <tr>
                <td></td>
                <td></td>
                <td><input type="button" class="btn-success" value="Lancer l'acquisition" onclick="submitAll()"></td>   
            </tr>
        </table>


       <!--  <INPUT class="input-medium" type="number" id="Ti1" name = "Ti1" placeholder="4 < T < 5000" value="" onkeydown="if (event.keyCode == 13) refreshTint1();"/>
            <p id="integration1"></p>

        <form action="" method="POST">
        <input type="number" name="scname" id="scname" onkeydown="if (event.keyCode == 13) return loadXMLDoc();">
        <input type="button" value="Submit" onclick="return loadXMLDoc()">
        </form>
        <div id="myDiv"></div>  -->   
    </body>
    {% include 'footer.html' %}
</html>


 <script>
    function changeParam(param,N){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        document.getElementById('text_'+param+N).innerHTML = response.username
            }}
        
            req.open('POST', '/'+param+'/'+N)
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username='+ document.getElementById(''+param+N).value
            req.send(postVars)
        return false
    }


    function startAcq(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        document.getElementById('myDiv').innerHTML = response.username
            }}
        
            req.open('POST', '/startAcq')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username='+ document.getElementById('nameExp').value
            req.send(postVars)
        return false
    }

    function flash(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        document.getElementById('myDiv2').innerHTML = response.username
            }}
        
            req.open('POST', '/acquisition')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username='+ document.getElementById('name1').value
            req.send(postVars)
        return false
    }
    function submitAll() {
        changeParam('range',1); 
        changeParam('range',2); 
        window.location.href='{{ url_for('acquisition') }}'
    }

</script>

