<!doctype html>
<html>
   {% include 'header.html' %}
   <body style="padding-top: 70px; margin-left : 10px">
   
      <h1>Fin </h1>
      
      {% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}
      <h2>Resultat experience : {{session['name']}}</h2>

      <h4>Paramètres : </h4>
      <table  class="table-bordered" style="width:30%">
      		<tr>
      			<th>Nom :</th>
      			<th>Range 1 :</th>
      			<th>Range 2 :</th>
               <th>Durée :</th>
               <th>Bactéries :</th>
      		</tr>
      		<tr>
      			<td>{{session['name']}}</td>
      			<td>{{session['range1']}}</td>
      			<td>{{session['range2']}}</td>
               <td>{{session['duree_experience']}}</td>
               <td>{{session['nombre_bacterie']}}</td>
      		</tr>
      </table>	

      <input type="button" onclick="window.location.replace('./')" value="Accueil" />
      <input type="button" onclick="window.location.replace('./download')" value="Download" />
      <a href="./download" download>Click here to download</a>
   </body>
   {% include 'footer.html' %}
</html>