<!doctype html>
<html>
   {% include 'header.html' %}
   <body  onLoad="setTimeout('delayer()', 5)" style="padding-top: 70px; margin-left : 10px">
   
      <h1>Acquisition en cours ... </h1>
      <body>
      {% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}
      <div id="myDiv"></div>
      <input type="button" onclick="window.location.replace('./cancel')" value="Annuler" />
   </body>
   {% include 'footer.html' %}
</html>

<script type="text/javascript">
<!--
$(document).ready(function() {
        var refresh_id = setInterval(function() {
            $.get(
              "{{ url_for('thread_status') }}",
              function(data) {
                console.log(data);
                if (data.status == 'finished') {
                  window.location.replace("{{ url_for('ajax_acq') }}");
                }
              }
            )}
          , 1000);
      });
function delayer(){
}

$(document).ready(function() {
        var refresh_id = setInterval(function() {
            $.get(
              "{{ url_for('thread_status_txt') }}",
              function(data) {
                console.log(data);
                //if (data.status == 'finished') {
                //  window.location.replace("{{ url_for('ajax_acq') }}");
                //}
                document.getElementById('myDiv').innerHTML = data.status
              }
            )}
          , 1100);
      });
function delayer(){
}

//-->
</script>
