<!DOCTYPE html>
<html>
  {% include 'header.html' %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Fotorama -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.2/fotorama.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.2/fotorama.js"></script>

  <!-- Just don’t want to repeat this prefix in every img[src] -->

<body>
<div id="page-wrapper">
  <div class="row">
      <!--  page header -->
      <div class="col-md-12">
        
        <!-- Fotorama -->
        <div class="fotorama"
            data-width="700"
            data-ratio="3/2"
            data-nav="thumbs"
            data-thumbheight="100">
            
          {% for line in  session['TAB'] : %}
           <a href=static/img/{{ line }}><img src="static/img/{{ line }}" width="144" height="96"></a>

          {% endfor %}
          <a href="static/img/00001_photo.jpg"><img src="static/img/00001_photo.jpg" width="144" height="96"></a>
          <a href="http://s.fotorama.io/okonechnikov/2-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/2-thumb.jpg" width="144" height="96"></a>
          <a href="http://s.fotorama.io/okonechnikov/3-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/3-thumb.jpg" width="144" height="96"></a>
          <a href="http://s.fotorama.io/okonechnikov/4-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/4-thumb.jpg" width="144" height="96"></a>
          <a href="http://s.fotorama.io/okonechnikov/5-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/5-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/24-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/24-thumb.jpg" width="144" height="214"></a>
          <a href="http://s.fotorama.io/okonechnikov/6-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/6-thumb.jpg" width="144" height="96"></a>
          <a href="http://s.fotorama.io/okonechnikov/7-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/7-thumb.jpg" width="144" height="96"></a>
          <a href="http://s.fotorama.io/okonechnikov/8-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/8-thumb.jpg" width="144" height="80"></a>
         <a href="http://s.fotorama.io/okonechnikov/23-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/23-thumb.jpg" width="144" height="214"></a>
          <a href="http://s.fotorama.io/okonechnikov/9-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/9-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/10-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/10-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/11-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/11-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/12-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/12-thumb.jpg" width="144" height="216"></a>
         <a href="http://s.fotorama.io/okonechnikov/13-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/13-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/14-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/14-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/15-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/15-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/16-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/16-thumb.jpg" width="144" height="108"></a>
         <a href="http://s.fotorama.io/okonechnikov/20-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/20-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/21-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/21-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/22-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/22-thumb.jpg" width="144" height="194"></a>
         <a href="http://s.fotorama.io/okonechnikov/17-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/17-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/18-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/18-thumb.jpg" width="144" height="96"></a>
         <a href="http://s.fotorama.io/okonechnikov/19-lo.jpg"><img src="http://s.fotorama.io/okonechnikov/19-thumb.jpg" width="144" height="96"></a>
        </div>

      </div>
  </div>
</div>





</body>
</html>


