<!DOCTYPE html>
<html>
  {% include 'header.html' %}
<script src="static/plugins/jquery-1.11.1.min.js"></script>
  <!-- Fotorama -->
	<link  href="static/css/fotorama.css" rel="stylesheet">
	<script src="static/scripts/fotorama.js"></script>

  <!-- Just don’t want to repeat this prefix in every img[src] -->

<body>
<div id="page-wrapper">
      <div class="row">
          <div class="col-md-12"  style="margin-top: -18px;">
                    <h1 class="page-header">Photo</h1>
          </div>
      </div>

      
      
      <div class="row">
        <!--GALLERY-->
        <div class="col-md-9  text-center">
          <div class="panel panel-default">
            <div  class="panel-heading"><i class="fa fa-film"></i> Gallery</div>
                  <div 
                      class="fotorama"
                      data-width="800"
                      data-ratio="18/9"
                      data-nav="thumbs"
                      data-thumbheight="100">
                      
                    {% for line in  session['TAB'] : %}
                    <!--Penser a ajouter la vignette des images (thumbs)-->
                    <a href=static/img/{{ line }}><img src="static/img/{{ line }}" width="144" height="96"></a>
                    {% endfor %}
                  </div>
              
            </div>
        </div>
        <!--PHOTO BUTTON-->
        <div class="col-md-3 text-center">
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-camera-retro"></i> Déclancher</div>
              <br>
              <button id="btn0" type="button" class="btn btn-danger btn-circle btn-xxl" onclick="t0()"><i class="fa fa-camera-retro"></i></button>
              <br>
              <br>
            </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-camera-retro"></i> Retardateur</div>
              <br>
              <button id="btn5" type="button" class="btn btn-danger btn-circle btn-xl text-center" onclick="t5(5)"><i class="fa fa-history" id="text_5"></i></button>
              <br>
              <br>
              <button id="btn10" type="button" class="btn btn-danger btn-circle btn-xl text-center" onclick="t10(10)"><i class="fa fa-history" id="text_10"></i></button>
              <br>
              <br>
              <div id="compteur"></div>
                
          </div>
        </div>
      </div>
       


</div>

<script>

  //duree="90";
  window.onload = init;
  function init(){
    var btn10 = document.getElementById("text_10")
    btn10.innerHTML = 10
    var btn5 = document.getElementById("text_5")
    btn5.innerHTML = 5
  }
  function takePicture(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        console.log = response.out
            }}
            req.open('POST', '/picture')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)

        return false
    }

    function changeColor(){
      var btn = document.getElementById("btn0");
      btn.className = btn.className.replace("btn-success", "btn-danger");
    }

     function t10(duree){
            btn = document.getElementById("btn10");
            btn.className = btn.className.replace("btn-danger", "btn-success");
            compteur10=document.getElementById('text_10');
            s=duree;
            m=0;h=0;
            if(s<0){
                takePicture()
                btn.className = btn.className.replace("btn-success", "btn-danger");
                compteur10.innerHTML=10
                //TAKE PICTURE
                
            }else{
                compteur10.innerHTML=s
                duree=duree-1;
                window.setTimeout("t10("+duree+");",999);
            }
      }

      function t5(duree){
            btn = document.getElementById("btn5");
            btn.className = btn.className.replace("btn-danger", "btn-success");
            compteur10=document.getElementById('text_5');
            s=duree;
            m=0;h=0;
            if(s<0){
                takePicture()
                btn.className = btn.className.replace("btn-success", "btn-danger");
                compteur10.innerHTML=5
                //TAKE PICTURE
                
            }else{
                compteur10.innerHTML=s
                duree=duree-1;
                window.setTimeout("t5("+duree+");",999);
            }
      }
      
      function t0(){
          btn = document.getElementById("btn0");
          btn.className = btn.className.replace("btn-danger", "btn-success");
          takePicture()
          window.setTimeout("changeColor();",500);
      }
                

</script>

</body>
</html>


