<!DOCTYPE html>
<html>
  {% include 'header.html' %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Fotorama -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.2/fotorama.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.2/fotorama.js"></script>

  <!-- Just don’t want to repeat this prefix in every img[src] -->

<body>
<div id="page-wrapper">
      <div class="row">
          <div class="col-md-12"  style="margin-top: -18px;">
                    <h1 class="page-header">Photo</h1>
          </div>
      </div>

      
      
      <div class="row">
        <!--GALLERY-->
        <div class="col-md-9  text-center">
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-film"></i> Gallery</div>
                  <div class="fotorama"
                      data-width="800"
                      data-ratio="18/9"
                      data-nav="thumbs"
                      data-thumbheight="100">
                      
                    {% for line in  session['TAB'] : %}
                    <!--Penser a ajouter la vignette des images (thumbs)-->
                    <a href=static/img/{{ line }}><img src="static/img/{{ line }}" width="144" height="96"></a>
                    {% endfor %}
                  </div>
              
            </div>
        </div>
        <!--PHOTO BUTTON-->
        <div class="col-md-3 text-center">
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-camera-retro"></i> Déclancher</div>
              <br>
              <button type="button" class="btn btn-danger btn-circle btn-xxl"><i class="fa fa-camera-retro"></i></button>
              <br>
              <br>
            </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-camera-retro"></i> Retardateur</div>
              <br>
              <button type="button" class="btn btn-danger btn-circle btn-xl text-center"><i class="fa fa-history"></i> 5</button>
              <br>
              <br>
              <button type="button" class="btn btn-danger btn-circle btn-xl text-center"><i class="fa fa-history"></i>10</button>
              <br>
              <br>
          </div>
        </div>
      </div>


</div>
</body>
</html>


