<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="static/plugins/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="static/css/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="static/scripts/jqxcore.js"></script>
    <script type="text/javascript" src="static/scripts/jqxdraw.js"></script>
    <script type="text/javascript" src="static/scripts/jqxgauge.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {  
            ////////// EAU ////////////       
            $('#gauge1').jqxGauge({
                ranges: [{ startValue: 50, endValue: 100, style: { fill: '#4cb848', stroke: '#4cb848' }, startDistance: 0, endDistance: 0 },
                         { startValue: 25, endValue: 50, style: { fill: '#fad00b', stroke: '#fad00b' }, startDistance: 0, endDistance: 0 },
                         { startValue: 0, endValue: 25, style: { fill: '#e53d37', stroke: '#e53d37' }, startDistance: 0, endDistance: 0}],
                cap: { size: '5%', style: { fill: '#2e79bb', stroke: '#2e79bb'} },
                border: { visible: false },
                ticksMinor: { interval: 5, size: '5%' },
                ticksMajor: { interval: 25, size: '10%' },       
                labels: { position: 'outside', interval: 25 },
                pointer: { style: { fill: '#2e79bb' }, width: 3 },
                animationDuration: 1000,
                max:100, 
                style: {'stroke-width': '0px', fill: '#ffffff' },
                caption: { offset: [0, 0], value: 'Propre', position: 'bottom' }
            });
            
            $('#gauge2').jqxGauge({
                ranges: [{ startValue: 0, endValue: 50, style: { fill: '#4cb848', stroke: '#4cb848' }, startDistance: 0, endDistance: 0 },
                         { startValue: 50, endValue: 75, style: { fill: '#fad00b', stroke: '#fad00b' }, startDistance: 0, endDistance: 0 },
                         { startValue: 75, endValue: 100, style: { fill: '#e53d37', stroke: '#e53d37' }, startDistance: 0, endDistance: 0}],
                cap: { size: '5%', style: { fill: '#2e79bb', stroke: '#2e79bb'} },
                border: { visible: false },
                ticksMinor: { interval: 5, size: '5%' },
                ticksMajor: { interval: 25, size: '10%' },       
                labels: { position: 'outside', interval: 25 },
                pointer: { style: { fill: '#2e79bb' }, width: 3 },
                animationDuration: 1000,
                max:100,
                style: {'stroke-width': '0px', fill: '#ffffff' },
                caption: { offset: [0, 0], value: 'Grise', position: 'bottom' }
            });

            $('#gauge1').jqxGauge({ width: 180, height: 180 });
            $('#gauge2').jqxGauge({ width: 180, height: 180 });
            $('#gauge1').jqxGauge('value', 80);
            $('#gauge2').jqxGauge('value', 30);


            ////////// TEMPERATURE ////////////
            var value_min = -20
            var majorTicks = { size: '10%', interval: 10 },
                minorTicks = { size: '5%', interval: 2.5, style: { 'stroke-width': 1, stroke: '#aaaaaa'} },
                labels = { interval: 20 };
            $('#temp1').jqxLinearGauge({
                orientation: 'vertical',
                labels: { position: 'near', interval: 10, formatValue: function (value, position) {
                    if (value === value_min) {return '°C';}return value + '°';}},
                ticksPosition: 'near',
                max: 40,
                min: -20,
                pointer: { size: '6%' },
                colorScheme: 'scheme04',
                height:350,
                background: { visible: false }
            });
            $('#temp2').jqxLinearGauge({
                orientation: 'vertical',
                labels: { position: 'near', interval: 10, formatValue: function (value, position) {
                    if (value === value_min) {return '°C';}return value + '°';}},
                ticksPosition: 'near',
                max: 40,
                min: -20,
                pointer: { size: '6%' },
                colorScheme: 'scheme04',
                height:350,
                background: { visible: false }
                
            });
            $('#temp3').jqxLinearGauge({
                orientation: 'vertical',
                labels: { position: 'near', interval: 10, formatValue: function (value, position) {
                    if (value === value_min) {return '°C';}return value + '°';}},
                ticksPosition: 'near',
                max: 40,
                min: -20,
                height:350,
                pointer: { size: '6%' },
                colorScheme: 'scheme04',
                background: { visible: false }
                
            });
            $('#temp1').jqxLinearGauge('value', 25);
            $('#temp2').jqxLinearGauge('value', 20);
            $('#temp3').jqxLinearGauge('value', 10);


            ////////// HUMIDITE ////////////
            var value_minL = 9
            var value_maxL = 15
            var majorTicksL = { size: '10%', interval: 1 },
                minorTicksL = { size: '5%', interval: 0.5, style: { 'stroke-width': 1, stroke: '#aaaaaa'} },
                labels = { interval: 1 };
            $('#hum1').jqxLinearGauge({
                orientation: 'horizontal',
                labels: { position: 'near', interval: 1, formatValue: function (value, position) {
                    
                    if (value === value_minL) {
                        return 'Volt';
                    }
                    return value + 'V';
                }
                },
                ticksPosition: 'near',
                ticksMinor: majorTicksL,
                ticksMajor: minorTicksL,  
                max: value_maxL,
                min: value_minL,
                width:220,
                height:60,
                value:1,
                pointer: { size: '6%' },
                colorScheme: 'scheme05',
                background: { visible: false }
                
            });
            $('#hum1').jqxLinearGauge('value', 10);
        });

            
    </script>
    {% include 'header.html' %}
</head>
    <div id="page-wrapper">
            <div class="row">
                 <!--  page header -->
                <div class="col-md-12">
                    <h1 class="page-header">Niveaux</h1>
                </div>
                <!--end  page header -->
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!--  Area Chart -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-shower"></i> Eau</div>
                        <div class="panel-body">
                            <div id="gauge1"></div>
                            <div id="gauge2"></div>
                        </div>
                    </div>
                    <!-- End Area Chart -->
                </div>
                <div class="col-md-5">
                    <!--  Area Chart -->
                    <div class="panel panel-default">
                        <div class="panel-heading"> Température</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-1">Int</div><div style= "margin-top:10px; margin-left:-20px" class="col-md-1" id="temp1"></div>
                                <div class="col-md-1">Ext</div><div style= "margin-top:10px; margin-left:-20px" class="col-md-1" id="temp2"></div>
                                <div class="col-md-1">Frigo</div><div style= "margin-top:10px; margin-left:-20px" class="col-md-1" id="temp3"></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Area Chart -->
                </div>
                 <div class="col-md-4">
                    <!--  Area BATTERIE -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-battery-full fa-1x"></i> Batterie</div>
                        <div class="panel-body">
                            <div class="row">
                                <div style= "margin-left:20px" class="col-md-1" id="hum1"></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Area BATTERIE -->
                </div>
                <div class="col-md-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-spinner fa-1x"></i> Humidité intérieur : <b>50%</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-spinner fa-1x"></i> Humidité extérieur : <b>70%</b>
                    </div>
                </div>

            </div>
    </div>
</body>
</html>