<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="static/plugins/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="static/css/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="static/scripts/jqxcore.js"></script>
    <script type="text/javascript" src="static/scripts/jqxdraw.js"></script>
    <script type="text/javascript" src="static/scripts/jqxgauge.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {  
            ////////// EAU ////////////     
            // var DATA_CAMION = document.getElementById('page-wrapper');
            // var init_temp1 = DATA_CAMION.dataset.temp1;  
            // var init_temp2 = DATA_CAMION.dataset.temp2; 
            // var init_temp3 = DATA_CAMION.dataset.temp3; 
            // var init_hum1 = DATA_CAMION.dataset.hum1;  
            // var init_hum2 = DATA_CAMION.dataset.hum2;
            // var init_water1 = DATA_CAMION.dataset.water1;  
            // var init_water2 = DATA_CAMION.dataset.water2;
            // var init_bat1 = DATA_CAMION.dataset.bat1;  


            $('#gauge1').jqxGauge({
                ranges: [{ startValue: 50, endValue: 100, style: { fill: '#4cb848', stroke: '#4cb848' }, startDistance: 0, endDistance: 0 },
                         { startValue: 25, endValue: 50, style: { fill: '#fad00b', stroke: '#fad00b' }, startDistance: 0, endDistance: 0 },
                         { startValue: 0, endValue: 25, style: { fill: '#e53d37', stroke: '#e53d37' }, startDistance: 0, endDistance: 0}],
                cap: { size: '5%', style: { fill: '#2e79bb', stroke: '#2e79bb'} },
                border: { visible: false },
                ticksMinor: { interval: 5, size: '5%' },
                ticksMajor: { interval: 25, size: '10%' },       
                labels: { position: 'outside', interval: 25 },
                pointer: { style: { fill: '#2e79bb' }, width: 3 },
                animationDuration: 1000,
                max:100, 
                style: {'stroke-width': '0px', fill: '#ffffff' },
                caption: { offset: [0, 0], value: 'Propre', position: 'bottom' }
            });
            
            $('#gauge2').jqxGauge({
                ranges: [{ startValue: 0, endValue: 50, style: { fill: '#4cb848', stroke: '#4cb848' }, startDistance: 0, endDistance: 0 },
                         { startValue: 50, endValue: 75, style: { fill: '#fad00b', stroke: '#fad00b' }, startDistance: 0, endDistance: 0 },
                         { startValue: 75, endValue: 100, style: { fill: '#e53d37', stroke: '#e53d37' }, startDistance: 0, endDistance: 0}],
                cap: { size: '5%', style: { fill: '#2e79bb', stroke: '#2e79bb'} },
                border: { visible: false },
                ticksMinor: { interval: 5, size: '5%' },
                ticksMajor: { interval: 25, size: '10%' },       
                labels: { position: 'outside', interval: 25 },
                pointer: { style: { fill: '#2e79bb' }, width: 3 },
                animationDuration: 1000,
                max:100,
                style: {'stroke-width': '0px', fill: '#ffffff' },
                caption: { offset: [0, 0], value: 'Grise', position: 'bottom' }
            });

            $('#gauge1').jqxGauge({ width: ((document.getElementById('bat1').offsetWidth-10)/2), height:  ((document.getElementById('bat1').offsetWidth-10)/2) });
            $('#gauge2').jqxGauge({ width:  ((document.getElementById('bat1').offsetWidth-10)/2), height:  ((document.getElementById('bat1').offsetWidth-10)/2) });
            // $('#gauge1').jqxGauge('value', init_water1);
            // $('#gauge2').jqxGauge('value', init_water2);


            ////////// TEMPERATURE ////////////

            var value_min = -20
            var majorTicks = { size: '10%', interval: 10 },
                minorTicks = { size: '5%', interval: 2.5, style: { 'stroke-width': 1, stroke: '#aaaaaa'} },
                labels = { interval: 20 };
            $('#temp1').jqxLinearGauge({
                orientation: 'vertical',
                labels: { position: 'near', interval: 10, formatValue: function (value, position) {
                    if (value === value_min) {return '°C';}return value + '°';}},
                ticksPosition: 'near',
                max: 40,
                min: -20,
                pointer: { size: '6%' },
                colorScheme: 'scheme04',
                height:350,
                background: { visible: false }
            });
            $('#temp2').jqxLinearGauge({
                orientation: 'vertical',
                labels: { position: 'near', interval: 10, formatValue: function (value, position) {
                    if (value === value_min) {return '°C';}return value + '°';}},
                ticksPosition: 'near',
                max: 40,
                min: -20,
                pointer: { size: '6%' },
                colorScheme: 'scheme04',
                height:350,
                background: { visible: false }
                
            });
            $('#temp3').jqxLinearGauge({
                orientation: 'vertical',
                labels: { position: 'near', interval: 10, formatValue: function (value, position) {
                    if (value === value_min) {return '°C';}return value + '°';}},
                ticksPosition: 'near',
                max: 40,
                min: -20,
                height:350,
                pointer: { size: '6%' },
                colorScheme: 'scheme04',
                background: { visible: false }
                
            });


            // $('#temp1').jqxLinearGauge('value', init_temp1);
            // $('#temp2').jqxLinearGauge('value', init_temp2);
            // $('#temp3').jqxLinearGauge('value', init_temp3);
            // $('#temp1').jqxLinearGauge('value', 20);
            // $('#temp2').jqxLinearGauge('value', 20);
            // $('#temp3').jqxLinearGauge('value', 20);


            ////////// BATTERY ////////////
            var value_minL = 0
            var value_maxL = 15
            var majorTicksL = { size: '10%', interval: 2 },
                minorTicksL = { size: '5%', interval: 0.5, style: { 'stroke-width': 1, stroke: '#aaaaaa'} },
                labels = { interval: 1 };
            $('#bat1').jqxLinearGauge({
                orientation: 'horizontal',
                labels: { position: 'near', interval: 2, formatValue: function (value, position) {
                    
                    if (value === value_minL) {
                        return 'Volt';
                    }
                    return value + 'V';
                }
                },
                ticksPosition: 'near',
                ticksMinor: majorTicksL,
                ticksMajor: minorTicksL,  
                max: value_maxL,
                min: value_minL,
                //width:400,
                width:(document.getElementById('bat1').offsetWidth-20),
                height:60,
                value:1,
                pointer: { size: '6%' },
                colorScheme: 'scheme05',
                background: { visible: false }
                
            });
            // $('#bat1').jqxLinearGauge('value', init_bat1);

            //CHARGE LES NIVEAUX AU CHARGEMENT 
            loadVal()
        });

            
    </script>
    {% include 'header.html' %}
</head>
    <div id="page-wrapper">
            <!--data-temp1={{session['temp1']}} 
            data-temp2={{session['temp2']}} 
            data-temp3={{session['temp3']}}
            data-hum1={{session['hum1']}} 
            data-hum2={{session['hum2']}} 
            data-water1={{session['water1']}} 
            data-water2={{session['water2']}} 
            data-bat1={{session['bat1']}}-->
            <div class="row">
                 <!--  page header -->
                <div class="col-md-12"  style="margin-top: -18px;">
                    <h1 class="page-header">Niveaux</h1>
                </div>
                <!--end  page header -->
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!--  Area Chart -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-shower"></i> Eau
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" onclick="refreshWater()" class="btn btn-default btn-xs btn-success" >Refresh
                                        <span class="fa fa-refresh" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" id="idName">
                            <div class="col-xs-1"  id="gauge1"></div>
                            <div class="col-xs-1"  id="gauge2"></div>
                        </div>
                    </div>
                    <!-- End Area Chart -->
                </div>
                <div class="col-md-5">
                    <!--  Area Chart -->
                    <div class="panel panel-default">
                        <div class="panel-heading"> Température
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" onclick="refreshTemp()" class="btn btn-default btn-xs btn-success" >Refresh
                                        <span class="fa fa-refresh" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row text-center">
                                <div class="col-xs-1">Int</div><div style= "margin-top:10px; margin-left:-20px" class="col-xs-1" id="temp1"></div>
                                <div class="col-xs-1">Ext</div><div style= "margin-top:10px; margin-left:-20px" class="col-xs-1" id="temp2"></div>
                                <div class="col-xs-1">Frigo</div><div style= "margin-top:10px; margin-left:-20px" class="col-xs-1" id="temp3"></div>

                                <!--<div style= "width:100px;" class="col-xs-1" id="temp1"></div>
                                <div style= "width:100px;" class="col-xs-1" id="temp2"></div>
                                <div style= "width:100px;" class="col-xs-1" id="temp3"></div>-->
                                
                            </div>

                        </div>
                    </div>
                    <!-- End Area Chart -->
                </div>
                 <div class="col-md-4" id="row_bat">
                    <!--  Area BATTERIE -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-battery-full fa-1x"></i> Batterie
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" onclick="refreshBat()" class="btn btn-default btn-xs btn-success" >Refresh
                                        <span class="fa fa-refresh" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div style= "margin-left:20px" class="col-md-1" id="bat1"></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Area BATTERIE -->
                </div>
                <div class="col-md-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-spinner fa-1x"></i> Humidité intérieur : <b id = "hum_int"></b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-spinner fa-1x"></i> Humidité extérieur : <b id = "hum_ext"></b>
                    </div>
                </div>

            </div>
    </div>
</body>
</html>

<script  type="text/javascript">
    function loadVal(){
        refreshBat()
        refreshTemp()
        refreshWater()
        refreshHum()
    }
    function refreshTemp(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        //document.getElementById('text_'+param+N).innerHTML = response.username
                        $('#temp1').jqxLinearGauge('value', response.T1);
                        $('#temp2').jqxLinearGauge('value', response.T2);
                        $('#temp3').jqxLinearGauge('value', response.T3);
            }}
        
            req.open('POST', '/temp')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)
        return false
    }

    function refreshHum(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        document.getElementById("hum_int").innerHTML = response.T1;
                        document.getElementById("hum_ext").innerHTML = response.T2;
                        
            }}
        
            req.open('POST', '/hum')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)
        return false
    }


    function refreshBat(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        //document.getElementById('text_'+param+N).innerHTML = response.username
                        $('#bat1').jqxLinearGauge('value', response.T1);
                        
            }}
            req.open('POST', '/battery')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)
        return false
    }

    function refreshWater(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        //document.getElementById('text_'+param+N).innerHTML = response.username
                        $('#gauge1').jqxGauge('value', response.T1);
                        $('#gauge2').jqxGauge('value', response.T2);
            }}
            req.open('POST', '/water')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)
        return false
    }

</script>
