<!DOCTYPE html>
    <html> 
    {% include 'header.html' %}
    <body style="margin-top: -100px;">
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row" >
                <!-- Page Header -->
                <div class="col-md-12" > <!--style="margin-top: -18px;"-->
                    <h1 class="page-header">{{session['name']}} My Love</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <!--SECTION METEO -->
                <div class="col-md-8">
                    <div class="panel panel-primary">
                            <!-- METEO HEADER -->
                            <div class="panel-heading">
                                <i class="fa fa-cloud" id ="city" aria-hidden="true"></i>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" onclick="reloadWeather()" class="btn btn-default btn-xs btn-success" >Refresh
                                            <span class="fa fa-refresh" aria-hidden="true"></span>
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- METEO CONTENT -->
                            <div class="panel-body" id="size_meteo">
                                <div height="180" id="divMeteo">
                                    <iframe id="frame" width=100% height="200"  frameborder="0"></iframe>
                                </div>
                            </div>
                    </div>        
                </div>

                <!--SECTION ALERT -->
                <div class="col-md-4" id="id_alert" data-alert={{session['alert']}} >
                    <div class="alert alert-danger text-center">
                        <i class="fa fa-dashboard fa-3x" onclick="alertUpdate()"></i>
                        <div id="text_alert"></div>
                    </div>
                </div>

                <!--SECTION MAJ -->
                <div class="col-md-4">
                    <div class="alert alert-info text-center">
                        <i class="fa fa-cloud-download fa-3x" data-toggle="modal" data-target="#myModal" onclick="checkUpdate()"></i>
                        <h4>Chercher une mise à jours</h4>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel"></h4>
                                        </div>
                                        <div class="modal-body" id="updateInfo"></div>
                                        <div class="modal-footer">
                                            <button type="button" id="btn_maj" onclick="gitPull()" class="btn btn-primary"> OK</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <!--SECTION INFO -->
                {% include 'footer.html' %}
                

            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="static/plugins/jquery-1.10.2.js"></script>
    <script src="static/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="static/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="static/plugins/pace/pace.js"></script>
    <script src="static/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="static/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="static/plugins/morris/morris.js"></script>
    <script src="static/scripts/dashboard-demo.js"></script>


<script  type="text/javascript">
    window.onload = initDashboard

    function initDashboard(){
        alertUpdate()
        reloadWeather()
    }

    function reloadWeather(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        if(response.CITY == 0){
                            document.getElementById('city').innerHTML = " error"
                            $("#frame").attr("src", "static/ifrm.htm");
                        }else{
                            document.getElementById('city').innerHTML = response.CITY
                            $("#frame").attr("src", "https://embed.windy.com/embed2.html?lat="+response.LAT+"&lon="+response.LONG+"&zoom=4&level=surface&overlay=rain&menu=&message=&marker=&calendar=&pressure=&type=map&location=coordinates&detail=true&detailLat=48.159&detailLon=-0.199&metricWind=km%2Fh&metricTemp=%C2%B0C");
                        }
            }}
            req.open('POST', '/weather')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)
        return false
    }


    function alertUpdate(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        console.log = response.alert
                        document.getElementById('text_alert').innerHTML = response.alert

            }}
            req.open('POST', '/alertUpdate')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)
        return false
    }





    function checkUpdate(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        if(response.out == "True"){
                            document.getElementById('myModalLabel').innerHTML = "Système à jour"
                            document.getElementById('updateInfo').innerHTML = "Aucune mise à jour disponible"
                            document.getElementById('btn_maj').style.visibility = 'hidden';
                        }else{
                            document.getElementById('myModalLabel').innerHTML = "Mise à jour disponible"
                            document.getElementById('updateInfo').innerHTML = "Cliquer sur OK pour mettre à jour le système. Attention cela nécessite un redémarrage complet du système, certaine donnée pourraient etre perdu. "
                            document.getElementById('btn_maj').style.visibility = 'visible';
                        } 
            }}
        
            req.open('POST', '/update')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)
        return false
    }

    function gitPull(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        // document.getElementById("name").innerHTML = response.T1;
                        // document.getElementById("hum_ext").innerHTML = response.T2;
                        
            }}
        
            req.open('POST', '/gitPull')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=0'//+document.getElementById("name").value
            req.send(postVars)
        return false
    }


</script>
</body>
</html>





