<!DOCTYPE html>
<html>
  {% include 'header.html' %}
<body>

<style>
  .controlUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  margin-bottom: 22px;
  text-align: center;
}
.controlText {
  color: rgb(25, 25, 25);
  font-family: Roboto, Arial, sans-serif;
  font-size: 25px;
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>


<div id="page-wrapper">
  <div class="row">
      <!--  page header -->
      <div class="col-md-12">
        <!--<div id="googleMap" style="width:100%;height:600px;">-->
          <script src="https://maps.googleapis.com/maps/api/js"></script>
        <div id="map" style="width:100%;height:610px;">

      </div>
  </div>
</div>


<script>
  //window.onload = reloadPosition;
  var LONG //= "-5.56562166667"
  var LAT //= "48.3581516667"

  function reloadPosition(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
                        LAT = response.LAT
                        LONG = response.LONG
                        initialize()
                        //document.getElementById('city').innerHTML = response.CITY
                        //$("#frame").attr("src", "https://embed.windytv.com/embed2.html?lat="+response.LAT+"&lon="+response.LONG+"&type=forecast&metricWind=km%2Fh&metricTemp=%C2%B0C");
            }}
            req.open('POST', '/weather')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username=1'
            req.send(postVars)
            
        return false
    }

  function initialize() {
  
  var mapCanvas = document.getElementById('map');
  var mapOptions = {
    zoom: 12,
    center: {
      lat: parseFloat(LAT),
      lng: parseFloat(LONG)
    },
    mapTypeControl: false,
    zoomControl: true,
    zoomControlOptions: {
      position: google.maps.ControlPosition.RIGHT_BOTTOM
    },
    scaleControl: false,
    streetViewControl: true,
    streetViewControlOptions: {
      position: google.maps.ControlPosition.RIGHT_BOTTOM
    }
  };

  var map = new google.maps.Map(mapCanvas, mapOptions);

  var locations = [
    ['MyPlace', parseFloat(LAT), parseFloat(LONG)],
    // ['arkadia', 52.257305, 20.984481],
    // ['stadium', 52.215147, 21.035074]
  ];

  var marker, i;
  var infowindow = new google.maps.InfoWindow();


  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
        map.setZoom(14);
        map.setCenter(marker.getPosition());
      }
    })(marker, i));
  }

  var controlText = [
    ['N', google.maps.ControlPosition.TOP_CENTER],
    ['W', google.maps.ControlPosition.LEFT_CENTER],
    ['E', google.maps.ControlPosition.RIGHT_CENTER],
    ['S', google.maps.ControlPosition.BOTTOM_CENTER],
  ];

  for (var i = 0; i < controlText.length; i++) {
    var divLabel = controlText[i][0];
    var divName = document.createElement('div');
    var newDiv = new MakeControl(divName, divLabel, map);
    map.controls[controlText[i][1]].push(divName);
    google.maps.event.addDomListener(divName, 'click', function() {
      alert(controlText[i][0]);
    });
  }

}
//google.maps.event.addDomListener(window, 'load', initialize);
google.maps.event.addDomListener(window, 'load', reloadPosition);
/**
 * Creates a series of custom controls to demonstrate positioning
 * of controls within a map.
 */

/**
 * MakeControl adds a control to the map.
 * This constructor takes the controlDIV name and label text as arguments.
 * @constructor
 * @param {!Element} controlDiv  The name of the DIV element for the control.
 * @param {string} label  Text to display within the DIV element.
 */
function MakeControl(controlDiv, label, map) {

  // Set up the control border.
  var controlUI = document.createElement('div');
  controlUI.title = label;
  controlUI.className = 'controlUI';
  controlUI.style.cursor = 'pointer';
  controlDiv.appendChild(controlUI);

  // Set up the inner control.
  var controlText = document.createElement('div');
  controlText.innerHTML = label;
  controlText.className = 'controlText';
  controlUI.appendChild(controlText);
  // Setup the click event listeners: simply set the map to Chicago.
  controlUI.addEventListener('click', function() {
    var bounds = map.getBounds();
    var span = bounds.toSpan();
    switch (label) {
      case "N":
        map.setCenter(new google.maps.LatLng(map.getCenter().lat() + span.lat() / 2, map.getCenter().lng()));
        break;
      case "S":
        map.setCenter(new google.maps.LatLng(map.getCenter().lat() - span.lat() / 2, map.getCenter().lng()));
        break;
      case "E":
        map.setCenter(new google.maps.LatLng(map.getCenter().lat(), map.getCenter().lng() + span.lng() / 2));
        break;
      case "W":
        map.setCenter(new google.maps.LatLng(map.getCenter().lat(), map.getCenter().lng() - span.lng() / 2));
        break;
    }
  });
}

</script>

</body>
</html>


