<!DOCTYPE html>
<html lang="en">

    <script type="text/javascript" src="static/plugins/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="static/css/jqx.base.css" type="text/css" />

    
    {% include 'header.html' %}
<body style="margin-top: -100px;">
    <div id="page-wrapper">
            <div class="row">
                 <!--  page header -->
                <div class="col-md-12">
                    <h1 class="page-header">Paramètre de {{session['name']}} </h1>
                </div>
                <!--end  page header -->
            </div>
            <div class="row">
                 <div class="col-md-4" id="row_bat">
                    <!--  Area NAME -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-truck fa-1x"></i> Paramètre camion
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                    <div class="col-xs-6">
                                        <input id="old_name" class="form-control" type="text" placeholder={{session['name']}} readonly>
                                    </div>
                                    <div class="col-xs-6">
                                        <input id="new_name" class="form-control" type="text" placeholder="Changer de nom">
                                    </div>
                            </div>
                            <br>
                            <div class="row">  
                                <div class="col-xs-6">
                                    <button type="button" onclick="update_name()" class="btn btn-primary">Actualiser</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Area NAME -->

                    <!-- End Area REBOOT -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-power-off fa-1x"></i> Redémarrer le système 
                        </div>
                        <div class="panel-body">
                                <div class="col-xs-12 text-center">
                                    <button type="button" onclick="reboot()" class="btn btn-primary">Redémarrer</button>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <!-- End Area REBOOT -->
                </div>

                <!--SECTION INFO -->
                {% include 'footer.html' %}
            </div>
    </div>
</body>
</html>

<script  type="text/javascript">
    function update_name(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        document.getElementById("old_name").placeholder = document.getElementById("new_name").value;
                        var response = JSON.parse(req.responseText);
            }}
        
            req.open('POST', '/update_param')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username='+document.getElementById("new_name").value
            req.send(postVars)
        return false
    }

    function reboot(){
        var req = new XMLHttpRequest()
            req.onreadystatechange = function(){
                if (req.readyState == 4){
                        var response = JSON.parse(req.responseText)
            }}
        
            req.open('POST', '/reboot')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var postVars = 'username='+document.getElementById("name").value
            req.send(postVars)
        return false
    }



</script>
